{{ define "sign-in" }}

{{ template "header" }}
    <div>
        <form action="" method="post">
            <label for="user-name">User:</label>
            <input type="text" name="user-name" id="user-name">
    
            <label for="user-pass">Password:</label>
            <input type="password" name="user-pass" id="user-pass">
    
            <button type="submit">Sign in</button>
        </form>

        <a href="/index">Go back</a>
    </div>
{{ template "footer" }}

{{ end }}